*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family:Arial, sans-serif;
    color: white;   
}

.announcement{
    height: 20px;
    background: #16bb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar{
    height: 55px;
    background: white;
    display: flex;
    align-items: center;
    padding: 7px 40px;
    top: 0;
    gap: 50px;
    position: sticky;
}

.logo{
    width: 120px;
}

.logo img{
    width: 80px;
    height: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex: 1;
}

nav a{
    text-decoration: none;
    color: #16bb;
}

nav a span{
    font-size: 12px;
    margin-left: 5px;
}

.nav-icons{
display: flex;
align-items: center;
gap: 20px;
}

.search{
    font-size: 18px;
    color: rgb(0, 255, 4);
}

.cart{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #16bb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.menu-btn{
    display: none;
    border: none;
    background: none;
    font-size: 25px;
}

.hero{
    height: 570px;
    width: 100%;
    background: url("/image.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

.hero-content{
    max-width: 600px;
}

.small-title{
    color: lightgreen;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

h1{
    font-size: 48px;
    line-height: 0.9;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

.description{
    max-width: 520px;
    font-size: 18px;
    margin-bottom: 25px;
}


.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 28px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.primary{
    background: #16bb;
    color: blueviolet;
}

.secondary{
    background: transparent;
    color: white;
    border: 2px solid white;
}

.terms{
    font-size: 12px;
    margin-top: 15px;
    color: white;
}

.features {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7%;
    gap: 40px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.feature i {
    font-size: 25px;
}

.feature h3 {
    font-size: 14px;
    margin: 0 0 5px;
}

.feature p {
    font-size: 13px;
    margin: 0 0 5px;
    color: #aaa;
}

.feature a {
    color: #18d5c0;
    font-size: 13px;
    text-decoration: none;
}